-if @commits.empty?
  = "No such page, or commits at all"
  
%table
  - @commits.each do |commit|
    %tr{ db_id: commit.id }
      %td= commit.sha
      %td
        %input.mark_to_delete{ type: "checkbox" }

= will_paginate @commits
= "total: #{@commits_total} commits"
